{
  "parser": "babel-eslint",
  "extends": [
    "standard",
    "eslint:recommended",
    "plugin:react/recommended"
  ],
  "rules": {
    "quotes": ["error", "single"],
    "quote-props": "off",
    "dot-notation": "off"
  }
}